*.csv
data/
backend/ml-engine/data/
node_modules/
.pnp
.pnp.js
dist/
build/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local